@model BaseViewModel<List<CardSearchDTO>>
@using adduo.restoudaobra.web.model
@using adduo.restoudaobra.dto
@{
    Layout = "~/Views/Shared/_Masterpage.cshtml";

    var index = 0;

    Func<int> indexFactory = () =>
    {
        if ((++index).Equals(3))
        {
            index = 0;
        }

        return index;
    };

    var cardColumns = Model.Value.Select((ad, i) => new CardViewModel(ad, indexFactory()))
            .GroupBy(key => key.Index)
            .ToDictionary(k => k.Key, v => v.ToList());
}

@section titleSufix { - Construa consciente, compartilhe }
@section meta
    {
    <meta property="og:locale" content="pt-BR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Restou da Obra" />
    <meta property="og:url" content="http://www.restoudaobra.com.br" />
    <meta property="og:site_name" content="Restou da Obra" />
    <meta property="og:image" content="http://www.restoudaobra.com.br/_img/logo/restou-da-obra-logo-1.png" />
    <meta name="description" content="Acreditamos que ajudar é o melhor caminho para construir o bem. Acreditamos no relacionamento entre pessoas, na ajuda mútua e que compartilhar coisas faz um bem danado pra gente!" />
}
@section richcards
    {
    <partial name="HomeRichCard" />
}

@section script {

    <script>

        $(function() {
            $("#menu-logo").addClass("menu-logo-scroll")
        });

    </script>

}

<section class="main">
    <div class="break-point line">
        <div class="image">
            <img src="assets/img/main.png" title="Restou da Obra" alt="Restou da Obra" />
        </div>
        <div class="text">

            <img src="/assets/img/restou-da-obra-logo-1.png" title="Restou da Obra" alt="Restou da Obra" id="home-logo" />

            <p>
                Acreditamos que ajudar é o melhor caminho para construir o bem. Acreditamos no relacionamento entre pessoas,
                na ajuda mútua e que compartilhar coisas faz um bem danado pra gente!
                <span class="orange">:)</span>
            </p>
        </div>
        <div class="image-mobile">
            <img src="/assets/img/main.png" alt="main" />
        </div>
    </div>
</section>


<section class="how-it-works">
    <div class="break-point line">

        @foreach (var cards in cardColumns.Values)
        {
            <div>
                @foreach (var item in cards)
                {
                    <partial name="HomeCard" model="item.Card" />
                }
            </div>
        }
    </div>


</section>

<div class="home-icon">
    <hr />
    <i>Home</i>
</div>

<section class="how-info">

    <div class="break-point">


            <h3 class="h3-home">Como Funciona</h3>
            <article>
                <i class="bar">bar</i>
                <p>
                    Basta seguir esses passos para você poder compartilhar o que sobrou da sua obra ou comprar o que precisa
                    para terminá-la!
                </p>
            </article>
            <div class="line">
                <div class="step-1">
                    <i class="number">1</i>
                    Faça um cadastro e crie seu anúncio de venda ou doação
                    <img src="/assets/img/step1.png" />
                </div>
                <div class="step-2">
                    <i class="number">2</i>
                    Adicione fotos do produto e o descreva em detalhes
                    <img src="/assets/img/step2.png" />
                </div>
                <div class="step-3">
                    <i class="number">3</i>
                    Negocie diretamente com a pessoa interessada a forma de pagamento e a retirada do produto
                    <img src="/assets/img/step3.png" />
                </div>
            </div>
    </div>
</section>


<section class="about">
    <div class="box">
        <div class="break-point">
            <h3 class="h3-home">Nosso propósito</h3>
            <div class="line">
                <article>
                    <i class="bar">bar</i>
                    <p>
                        Através desta
                        <strong>plataforma</strong>, você pode anunciar o que restou da sua obra, tanto para venda como pra doação. É
                        só criar o seu cadastro e seguir os passos seguintes.
                    </p>
                    <p>
                        Para quem quer comprar, basta checar os anúncios. Lá, você pode conferir os valores e também entrar em contato
                        direto com o vendedor ou doador.
                    </p>
                    <p>
                        De uma maneira
                        <strong>consciente</strong>, você vende, doa e compra o que precisa para
                        <strong>encerrar a sua obra.</strong>
                    </p>
                </article>
                <div class="couple">
                    <img src="/assets/img/couple.png" />
                </div>
            </div>
        </div>
    </div>
</section>
