a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  margin: 30px 0 0 0;
}

nav,
li,
a {
  margin: 0;
}

  nav,
  ul,
  li,
  a {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color: #000;
    list-style: none;
  }

.button-menu-mobile,
.close {
  background: url("/assets/img/sprite.png");
  cursor:pointer;
}

.button-menu-mobile {
  display: none;
  width: 40px;
  height: 35px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-position: -40px -30px;
  float: right;
  margin: 25px 20px 0 0;
}


.close {
  background-position: 0 -203px;
  width: 24px;
  height: 24px;
  text-indent: 100%;
  white-space: nowrap;
  top: 15px;
  right: 15px;
  cursor: pointer;
  position: absolute;
}




  nav {
    display: block;
    float: right;
    font-size: 12px;
    margin-top: 22px;
  }

    nav li {
      float: left;
    }

      nav li a {
        display: block;
        color: white;
        text-align: center;
        text-transform: uppercase;
        padding: 14px 16px;
      }


    nav.open {
      float: right;
      font-size: 20px;
      top: 0;
      right: 0;
      background: #f36d2e;
      position: fixed;
      width: 250px;
      height: 100%;
      margin-top: 0;
      padding: 20px;
      display: block;
    }

      nav.open li {
        float: none;
      }


      nav.open a {
        text-align: left;
      }


  @media only screen and (max-width: 1023px) {

    nav {
      display: none;
    }

    .button-menu-mobile {
      display: block
    }
  }