<div class="review-container">
  <app-review-field-invalid [property]="property" [text]="invalidText"></app-review-field-invalid>
  <app-review-field-empty [property]="property" [text]="emptyText"></app-review-field-empty>
  <app-review-field-different [property]="property" [text]="differentText"></app-review-field-different>
  <app-review-field-notfound [property]="property" [text]="notfoundText"></app-review-field-notfound>
  <app-review-field-already [property]="property" [text]="alreadyText"></app-review-field-already>
  <app-review-field-valid [property]="property"></app-review-field-valid>
</div>
