<div class="break-point sc">

  <section class="one one-min  text-page">
    <div class="description">

      <h1>Legal, anunciado com sucesso!</h1>

      <p class="text-pay">
        A nossa vontade e o nosso objetivo
        é sempre entregar o melhor serviço
        e ajuda-lo a vender ou doar o que
        restou da sua obra. Por isso, a partir
        do dia <b>1 de agosto de 2018</b>, vamos 
        cobrar <b>R$3,00</b> por anúncio de
        venda*. Dessa maneira, acreditamos 
        melhorar cada vez mais a nossa 
        entrega e compartilhar o bem <b>:)</b>
      </p>

      <span>*Todo anúncio de doação será gratuíto.</span>


      <div class="button-area">
        <input type="button" value="entendido" (click)="ok()" />
      </div>

    </div>

  </section>

</div>
