<div class="break-point sc">

  <section class="one one-min form-basic">
    <div class="description">

      <app-page-title title="Redefinir senha" subtitleH2="Informe o CPF ou o e-mail que utilizou no momento do cadastro"></app-page-title>

      <form novalidate (ngSubmit)="redefine()" #f="ngForm">

        <app-field-text [property]="model.cpfemail"
                        name="cpfemail"
                        floatlabel="true"
                        label="digite aqui"
                        placeholder="digite aqui"
                        invalidText=" inválido"
                        notfoundText="seu cadastro não foi encontrado"></app-field-text>


        <div class="button-area">
          <input type="submit"
                 *ngIf="!isProcessRunning"
                 value="Pronto!" />
          <app-loader [show]="isProcessRunning"></app-loader>
        </div>
      </form>

    </div>
  </section>

  </div>
