<div class="break-point sc">

  <section class="one one-min form-basic">
    <div class="description">

      <app-page-title title="Redefinir senha" subtitleH2="Informe o CPF ou o e-mail que utilizou no momento do cadastro"></app-page-title>

      <form novalidate (ngSubmit)="redefine()" #f="ngForm">

        <ul class="input-line">
          <li>

            <input type="text"
                   [(ngModel)]="model.cpfemail.value"
                   name="cpfemail"
                   placeholder="digite aqui"
                   title="Informe o CPF ou o e-Mail que informou no momento do cadastro" />

            <app-review-field-container [property]="model.cpfemail"
                                        invalidText="inválido"
                                        notfoundText="seu cadastro não foi encontrado"></app-review-field-container>

          </li>
        </ul>

        <div class="button-area">

          <input type="submit"
                 *ngIf="!isProcessRunning"
                 value="Pronto!" />

          <app-loader [show]="isProcessRunning"></app-loader>

        </div>

      </form>

    </div>
  </section>

  </div>
