<div class="break-point sc">
  <section class="one one-min form-basic">

    <app-page-title title="Precisa de ajuda?" subtitleH2="Conte com a gente :)"></app-page-title>

    <form novalidate (ngSubmit)="contact()" #f="ngForm">
      <app-field-text [property]="model.name"
                 name="name"
                 label="Nome"
                 maxlength="128"></app-field-text>

      <app-field-text [property]="model.email"
                 name="email"
                 label="E-mail"
                 maxlength="128"></app-field-text>

      <app-field-mask [property]="model.phone"
                 name="phone"
                 mask="cellphone"
                 label="Telefone"
                 maxlength="16"></app-field-mask>

      <app-field-textarea [property]="model.message"
                          placeholder="Deixe aqui sua mensagem"></app-field-textarea>

      <div class="button-area">

        <input type="submit"
               *ngIf="!isProcessRunning"
               value="Enviar" />

        <app-loader [show]="isProcessRunning"></app-loader>


      </div>

      <div class="pos-button-area">
        <p>Se preferir, entre em contato pelo e-mail</p>
        <a href="mailto:contato@restoudaobra.com.br">contato@restoudaobra.com.br</a>
      </div>

    </form>

  </section>
</div>
