
<div [class.label-float]="floatlabel">

  <label [for]="label" *ngIf="!floatlabel">{{label}}</label>

  <input type="text"
         [id]="name"
         [(ngModel)]="property.value"
         maxlength="{{maxlength}}"
         title="{{placeholder}}"
         placeholder="{{placeholder}}" />

  <label [for]="name" *ngIf="floatlabel">{{placeholder}}</label>

  <app-review-field-container [property]="property"
                              [invalidText]="invalidText"
                              [emptyText]="emptyText"
                              [differentText]="differentText"
                              [notfoundText]="notfoundText"
                              [alreadyText]="alreadyText"></app-review-field-container>
</div>