<div class="only-mobile" id="account-create">
    <a [routerLink]="['criar']" title="Criar conta">CRIAR MINHA CONTA</a>
</div>

<section class="two">

  <app-page-title title="Já tenho cadastro" subtitleH3="Vamos entrar"></app-page-title>

  <app-summary-error [items]="summaryItens"></app-summary-error>

  <form novalidate (ngSubmit)="login()">

    <app-field-text [property]="model.email"
                    name="emaillogin"
                    floatlabel="true"
                    label="E-mail"
                    maxlength="128"
                    placeholder="E-mail"></app-field-text>

    <app-field-password [property]="model.password"
                        name="passwordlogin"
                        floatlabel="true"
                        label="Senha"
                        maxlength="8"
                        placeholder="Senha"></app-field-password>

        <div class="button-area">
      <input type="submit"
             *ngIf="!isProcessRunning"
             value="Entrar" />
      <app-loader [show]="isProcessRunning"></app-loader>
    </div>
    <div class="pos-button-area">
      <p class="forgot">Esqueceu sua senha?</p>
      <a [routerLink]="['/conta/redefinir-senha']">Clique aqui</a>
    </div>
  </form>

</section>
