<footer>
    <ul>
        <li><span>Restou da Obra © 2017. Todos os direitos reservados</span></li>
        <li><span><a href="/politica-de-privacidade" title="Política de Privacidade">Política de Privacidade</a></span></li>
        <li><span><a href="/termos-de-uso" title="Termos de uso">Termos de uso</a></span></li>
        <li><a href="/contato" title="Entre em contato">Contato</a></li>
        <li><a href="https://www.facebook.com/restoudabobra/" target="_blank" title="Facebook" class="social facebook"></a></li>
    </ul>
</footer>