
<footer>
    <div class="break-point">
        <div class="line">
            <p class="copyright">Restou da Obra © @(DateTime.Now.Year). Todos os Direitos Reservados.</p>
            <nav>
                <ul>
                    <li>
                        <a href="/politica-de-privacidade">Política de Privacidade</a>
                    </li>
                    <li>
                        <a href="/termo-de-uso">Termos de Uso</a>
                    </li>
                    <li>
                        <a href="/app/contato">Entre em Contato</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/restoudabobra/" class="social" target="_blank" title="Facebook">
                            <span class="facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="social">
                            <span class="instagram"></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
