
<footer>
    <div class="break-point">
        <div class="line">
            <p class="copyright">Restou da Obra © @(DateTime.Now.Year). Todos os Direitos Reservados.</p>
            <nav>
                <ul>
                    <li>
                        <a href="/politica-de-privacidade" title="Política de Privacidade">Política de Privacidade</a>
                    </li>
                    <li>
                        <a href="/termos-de-uso" title="Termos de uso">Termos de Uso</a>
                    </li>
                    <li>
                        <a href="/app/contato" title="Contato">Contato</a>
                    </li>
                </ul>
                <ul class="footer-socialmedia">
                    <li>
                        <a href="https://www.facebook.com/restoudabobra/" class="social" target="_blank" title="Facebook Restou da Obra">
                            <span class="facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/restoudaobra/" class="social" title="Instragram Restou da Obra">
                            <span class="instagram"></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
