<header>
    <div class="break-point">
        <a href="/" title="Pagina inicial - Restou da Obra" class="logo">
            <img src="/assets/img/restou-da-obra-logo-3.png" alt="Restou da Obra" title="Restou da Obra" />
        </a>
        <span class="button-menu-mobile">Button</span>
        <menu-element class="blue">


            <style>
                :host(blue) {
                            background-color: #ff0000 !important;
                }


            </style>

        </menu-element>
    </div>
</header>

