<section id="ad-detail" class="page" ng-controller="adDetailController">

    <div id="box-ad-detail"
         
         class="box product-type"
         ng-class="{
                 'product-type-donation':productTypeDonation(),
                 'product-type-sale' : productTypeSale()}">

        <div class="loader loader-style-1" ng-show="loaderActivity()"><span>carregando</span></div>

        <div ng-show="show">

            <h4 class="product-type-style product-type-style-4"></h4>

            <div id="ad-detail-gallery" style="width:{{galleryWidth(250, 30)}}px">
                <ul ng-repeat="row in gallery.rows">
                    <li ng-repeat="image in row" style="background-image:url({{image.img}})" title="Foto de {{ad.product.name}} - {{ad.product.brand}}" ng-click="carouselOpen(image.index)"></li>
                </ul>
            </div>
            <div id="ad-detail-info product-type"
                 ng-class="{
                            'product-type-donation': productTypeDonation(ad.product),
                            'product-type-sale' : productTypeSale(ad.product)}">
                <div id="ad-detail-info-item">
                    <h1 title="{{ad.product.name}}">{{ad.product.name}}</h1>
                    <h2 title="{{ad.product.option}}">{{ad.product.option}}</h2>
                    <h2 title="{{ad.product.brand}}">{{ad.product.brand}}</h2>
                    <h2 title="{{ad.product.quantity}}">{{ad.product.quantity}}</h2>
                    <h2 class="text-color-type" ng-show="productTypeSale(ad.product)" title="{{ad.product.price | currency : 'R$' : 2}}">{{ad.product.price | currency : 'R$' : 2}}</h2>
                </div>
                <ul id="ad-detail-info-owner">
                    <li id="owner-name" title="{{ad.owner.firstname}}">{{ad.owner.firstname}}</li>
                    <li id="owner-email" ng-show="showContact">
                        <span ng-click="showContact()" ng-class="{'contact-hide': !contactVisible}" title="{{emailAndText}}">{{emailAndText}}</span>
                    </li>
                    <li id="owner-phone">
                        <span ng-hide="contactVisible" ng-click="showContact()" class="contact-hide" title="{{emailAndText}}">{{emailAndText}}</span>
                        <span ng-repeat="phone in phones" class="phone-separator" title="{{phone}}">{{phone}}</span>
                    </li>
                    <li id="owner-address" title="{{ad.address.district}}, {{ad.address.city}} - {{ad.address.state}}">{{ad.address.district}}, {{ad.address.city}} - {{ad.address.state}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div ng-controller="adDetailCarouselController" ng-show="visible">
        <div class="overlay"></div>
        <div id="ad-detail-carousel">
            <div id="ad-detail-carousel-content" class="div-table">

                <div class="div-table-heading">
                    <div class="div-table-row">
                        <div class="div-table-cell"></div>
                        <div class="div-table-cell"></div>
                        <div class="div-table-cell adcc-command" style="height:50px;"><img class="center-img" src="/_img/_icon/icon-close-1.png" ng-click="close()" /></div>
                    </div>
                </div>
                <div class="div-table-body">
                    <div class="div-table-row">
                        <div class="div-table-cell adcc-command adcc-command-previous"><img class="center-img"  src="/_img/common/back.png" ng-click="previous()" title="Foto anterior" ng-show="previousShow()" /></div>
                        <div class="div-table-cell div-table-cell-center">
                            <img id="ad-detail-carousel-img" class="center-img"  ng-src="{{selected()}}" title="{{ad.product.name}}" alt="{{ad.product.name}}" ng-click="teste()" />
                        </div>
                        <div class="div-table-cell adcc-command adcc-command-next"><img class="center-img"  src="/_img/common/next.png" ng-click="next()"  ng-show="nextShow()"  title="Próxima foto"/></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>