@model CardDetailDTO

@using adduo.restoudaobra.dto
@using adduo.restoudaobra.website.model
@using System.Collections.Generic
@using System.Linq;

@{

    var card = Model;

    var images = card.Images;

    var imagesCount = images.Count;

    /* calcula largura da galeria  */

    const int imageWidth = 250;
    const int spaceWidth = 30;

    var galerryWidth = (imagesCount == 3 || imagesCount >= 5) ? (3 * imageWidth) + (spaceWidth * 2) :
                        ((imagesCount == 2 || imagesCount == 4) ? 2 * imageWidth + (spaceWidth) : imageWidth);


    /* calcula a quantidade de colunas da galeria */

    var columnsCount = 0;

    if (imagesCount == 1)
    {
        columnsCount = 1;
    }
    else if (imagesCount == 2 || imagesCount == 4)
    {
        columnsCount = 2;
    }
    else
    {
        columnsCount = 3;
    }

    var imageIndex = 0;
    var gallery = new Dictionary<int, List<string>>();
    var columnIndex = 0;

    while (imageIndex < imagesCount)
    {
        var row = new List<string>();
        for (var i = 0; i < columnsCount; i++)
        {
            if (imageIndex == imagesCount)
            {
                break;
            }
            else
            {
                row.Add(images[imageIndex++]);
            }
        }
        gallery[columnIndex++] = row;
    }
}


<div id="ad-detail-gallery" style="width:@(galerryWidth)px" ng-controller="adGalleryController">

    @{

        var selectedIndex = 0;

        foreach (var row in gallery.Values)
        {
            <ul>
                @foreach (var image in row)
                {
                    <li style="background-image:url(@(image))" title="Foto de @(card.Ad.Name) - @(card.Ad.Brand)" ng-click="open('@(selectedIndex++)')"></li>
                }
            </ul>
        }
    }

</div>

