<div class="break-point sc">

  <section class="one one-min form-basic">
    <div class="description">

      <app-page-title title="Redefinir senha" subtitleH2="Informe a nova senha"></app-page-title>

      <form novalidate (ngSubmit)="change()" #f="ngForm" *ngIf="isAlready">

        <ul class="input-line">

          <li>
            <input type="password"
                   [(ngModel)]="model.password.value"
                   name="password"
                   maxlength="8"
                   placeholder="Sua senha"
                   title="Sua senha" />

            <app-review-field-container [property]="model.password"></app-review-field-container>
          </li>

          <li>
            <input type="password"
                   [(ngModel)]="model.confirmation.value"
                   name="confirmation"
                   maxlength="8"
                   placeholder="Confirme a senha"
                   title="Confirme a senha" />
            <app-review-field-container [property]="model.confirmation" differentText="As senhas não estão iguais"></app-review-field-container>
          </li>
        </ul>
        <div class="button-area">

          <input type="submit"
                 *ngIf="!isProcessRunning"
                 value="Pronto!" />

          <app-loader [show]="isProcessRunning"></app-loader>

        </div>
      </form>
    </div>
  </section>
</div>


