<div class="break-point sc">

  <section class="one one-min form-basic">
    <div class="description">

      <app-page-title title="Redefinir senha" subtitleH2="Informe a nova senha"></app-page-title>

      <form novalidate (ngSubmit)="change()" #f="ngForm" *ngIf="isAlready">

        <app-field-password [property]="model.password"
                            name="password"
                            floatlabel="true"
                            label="Nova senha"
                            maxlength="8"
                            placeholder="Nova senha"></app-field-password>

        <app-field-password [property]="model.confirmation"
                            name="password"
                            floatlabel="true"
                            label="Confirme a  senha"
                            maxlength="8"
                            placeholder="Confirme a  senha"
                            differentText="As senhas não estão iguais"></app-field-password>

        <div class="button-area">
          <input type="submit"
                 *ngIf="!isProcessRunning"
                 value="Pronto!" />
          <app-loader [show]="isProcessRunning"></app-loader>
        </div>
      </form>
    </div>
  </section>
</div>


