

.dropdown {
    background-color: #fff;
    width: 275px;
    z-index: 100;
    position: absolute;
}

    .dropdown input {
        background-color: #CCC;
        border: 0;
    }

        .dropdown input::-webkit-input-placeholder {
            color: #000 !important;
        }

    .dropdown ul {
        background-color: #fff;
        height: 200px;
        overflow-y: scroll;
        width: 100%;
        display: none;
    }

    .dropdown li {
        font-size: 25px;
        padding: 5px;
        cursor: pointer;
    }

        .dropdown li:hover {
            background-color: #ff6a00;
            color: #fff;
        }



        .dropdown li.selected {
            background-color: #ff6a00;
        }
