footer {
    width: 100%;
    background-color: #ff6a00;
    padding: 10px;
    color: #fff;
    overflow: hidden;
    height: 70px;
}

    footer ul {
        overflow: hidden;
        margin: 0 auto;
        width: 700px;
    }

        footer ul li {
            float: left;
            margin: 0 10px 0 0;
        }

            footer ul li:last-child {
                float: right;
            }

            footer ul li * {
                font-size: 12px;
                color: #f1d0c7;
            }

    footer span {
        border-right: 1px solid #f1d0c7;
        padding: 5px 10px 5px 0;
    }


    footer .social {
        width: 27px;
        height: 27px;
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
    }

    footer a.facebook {
        background-image: url(/_img/common/footer-facebook.png);
    }

    footer .instagram {
        background-image: url(/_img/common/footer-instagram.png);
    }

@media only screen and (max-width: 400px) {
}

@media only screen and (min-width: 800px) {
}
