.box {
    background-color: #fff;
    width: 350px;
    padding: 40px 20px 20px 20px;
    margin: 0 auto;
}

    .box form {
        margin: 20px;
    }


.box-m {
    width: 500px;
}

.box-finished {
    background-color: #fff;
    width: 550px;
    padding: 20px;
    margin: 0 auto;
}

#box-2button {
    overflow: hidden;
}

    #box-2button div {
        width: 50%;
        float: left;
    }

        #box-2button div a {
            display: block;
            width: 150px;
            padding: 10px;
            margin: 20px;
        }

        #box-2button div:first-child a {
            float: right;
        }


.form-line {
    margin: 20px 0 40px 0;
    overflow: hidden;
}

.form-line-item input,
.form-line-item textarea {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #f1f1f1;
    padding: 3px;
}

.form-line-item {
    position: relative;
}


.form-line-item-fl {
    overflow: hidden;
}

    .form-line-item-fl > * {
        margin: 0 15px 0 0;
        float: left;
    }

.form-line-address,
.form-line-item-address {
    position: relative;
}

.form-line-address {
    min-height: 80px;
}

    .form-line-address a {
        color: #a3a3a3;
        text-align:center;
        display:block;
    }

    .form-line-address label,
    .label-no-float .form-line-item label {
        font-size: 30px;
        color: #a3a3a3;
    }

.label-no-float .form-line-item input::-webkit-input-placeholder {
    font-size: 25px;
    color: #cdcecf;
}

.label-no-float .form-line-item {
    margin: 0 0 40px 0;
}


.label-no-float input[type='text'],
.label-no-float input[type='tel'],
.label-no-float input[type='email'],
.label-no-float input[type='password'] {
    font-size: 25px;
}


/* LABEL FLOAT */

.label-float .form-line-item {
    margin: 0 0 10px 0;
    padding-top: 20px;
}


.label-float .form-line-item-textarea {
    margin: 20px 0 10px 0;
}

.label-float .form-line-item label {
    position: absolute;
    color: #b0b0b0;
    left: 0;
    bottom: 40px;
    width: 100%;
    transition: 0.2s;
    z-index: 10;
    text-transform: uppercase;
    font-family: 'raleway-semibold';
    padding: 5px;
}

.label-float .form-line-item-textarea label {
    margin: 0 0 3px 3px;
}

.label-float .form-line-item input,
.label-float .form-line-item textarea {
    background-color: transparent;
}

    .label-float .form-line-item textarea:not(:placeholder-shown) + label,
    .label-float .form-line-item input:not(:placeholder-shown) + label,
    .label-float .form-line-item textarea:focus + label,
    .label-float .form-line-item input:focus + label {
        font-size: 12px;
        transition: 0.2s;
        font-family: 'myriad';
    }

    .label-float .form-line-item input:not(:placeholder-shown) + label,
    .label-float .form-line-item input:focus + label {
        top: 3px;
        bottom: unset;
    }


    .label-float .form-line-item textarea:not(:placeholder-shown) + label,
    .label-float .form-line-item textarea:focus + label {
        top: -15px;
    }

.label-float ::-webkit-input-placeholder {
    opacity: 0;
}

.label-float ::-moz-placeholder {
    opacity: 0;
}

.label-float :-moz-placeholder {
    opacity: 0;
}

.label-float :-ms-input-placeholder {
    opacity: 0;
}



.form-summary-error {
    margin: 20px auto 0 auto;
    display: block;
}

    .form-summary-error * {
        display: block;
        text-align: center;
    }

    .form-summary-error span {
        font-size: 21.4px;
        text-transform: uppercase;
        font-weight: bold;
        color: #eb212e;
    }

    .form-summary-error a {
        font-size: 18px;
        color: #58595b;
        font-family: 'raleway-semibold';
    }



.form-line-item-status {
    overflow:hidden;
    padding: 3px;
    height: 30px;
}

    .form-line-item-status span,
    .form-line-item-status img {
        display: none;
        color: #eb212e;
        float: right;
    }

/* LABEL FLOAT */


.input-div-valid img {
    display: block;
}

.input-div-invalid span {
    display: block;
    font-size: 13px;
    margin: 0 0 0 5px;
}

.form-area-button {
    width: 100%;
    text-align: center;
}

    .form-area-button input[type='submit'],
    .form-area-button input[type='button'] {
        border: 0;
        margin: 0 5px;
        padding: 10px 30px;
        background-color: #ff6a00;
        cursor: pointer;
        color: #fff;
        text-transform: uppercase;
    }


    .form-area-button a.button {
        border: 0;
        margin: 0;
        display: inline-block;
        padding: 10px 30px;
        background-color: #ff6a00;
        cursor: pointer;
        color: #fff;
        text-transform: uppercase;
    }

#reset-password-link a {
    display: block;
    margin: 25px 0 0 0;
    text-align: center;
    color: #ababab;
    font-family: 'raleway-semibold';
}


.form-list-option li {
    cursor: pointer;
    padding: 5px;
}


    .form-list-option li:hover {
        color: #fff;
        background-color: #ff6a00;
    }

    .form-list-option li.selected {
        background-color: #ff6a00;
    }
