#menu-principal {
    position: fixed;
    width: 100%;
    z-index: 101;
    background-color: #ff6a00;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.53);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.53);
}

    #menu-principal > div {
        max-width: 1000px;
        margin: 0 auto;
        overflow: hidden;
        padding: 0;
        height: 88px;
    }

    #menu-principal #area-nav {
        float: right;
        overflow: hidden;
    }

    #menu-principal #header-logo {
        background-repeat: no-repeat;
        background-image: url(/_img/logo/restou-da-obra-logo-3.png);
        width: 243px;
        display: block;
        border: 0;
        float: left;
        height: 88px;
    }

    #menu-principal nav {
        margin: 30px 0 0 0;
        overflow: hidden;
    }

        #menu-principal nav a {
            float: left;
            padding: 3px 7px;
            border-right: 1px solid #dc6430;
            color: #f1d0c7 !important;
            cursor: pointer;
        }

        #menu-principal nav .last,
        #menu-principal nav .first-child {
            border: 0;
            margin-right: 0;
            padding-right: 0;
        }

        #menu-principal nav a:first-child {
            margin-right: 10px;
            cursor: default;
        }

        #menu-principal nav #owner-name {
            border: 0;
        }


        #menu-principal a, #menu-principal nav div {
            display: block;
            font-size: 12px;
            font-weight: bold;
            color: #fff;
            line-height: 150%;
        }

            #menu-principal a:hover {
                color: #404040;
            }

@media only screen and (max-width: 400px) {
}

@media only screen and (min-width: 499px) {
}

@media only screen and (min-width: 800px) {
}
