#home {
    position: relative;
    height: 635px;
    background-image: url(/_img/home/home-bg-1370x800.png);
}

#home-content {
    float: right;
    width: 380px;
    margin: 60px 0 0 0;
}

    #home-content p {
        font-family: 'raleway-medium';
        font-size: 12pt;
        color: #424243;
        margin: 60px 0 0 0;
    }

    #home-content p span {
        font-family: 'raleway-bold';
        font-size: 15pt;
        color: #f36d2f;
    }


@media only screen and (min-width: 499px) {
}

@media only screen and (min-width: 800px) {
}
