#box-owner-register,
#box-owner-info {
    width: 482px;
}

#box-owner-login {
    width: 400px;
    float: right;
}


#identification-collection {
    overflow: hidden;
}

#identification-collection>div {
    float:left;
    width:50%;
}
