#box-my-ad {
    width: 926px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}


#menu-status {
    margin: 60px 0 70px 0;
    overflow: hidden;
}

    #menu-status li {
        font-size: 25px;
        padding: 5px;
        font-family: 'raleway-light';
        float: left;
        cursor: pointer;
        margin: 0 25px 0 0;
    }

.menu-status-selected {
    color: #ff6a00;
}

#my-ad-collection h4 {
    text-align: left;
    background-image: url(/_img/common/line-1.png);
    background-repeat: repeat-x;
    background-position-y: center;
}

#my-ad-collection h4 span {
    background-color: #fff;
    padding-right: 15px;
}


#my-ad-collection .product-type-title-sale,
#my-ad-collection .product-type-title-donation {
    font-size: 30px;
}


#my-ad-galley {
    overflow: hidden;
    margin: 10px 0 27px 0;
}

    #my-ad-galley li {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 126px;
        height: 106px;
        margin: 0 10px 0 0;
        float: left;
    }

        #my-ad-galley li:last-child {
            margin: 0;
        }


.my-ad-item {
    padding: 10px;
    margin: 0 0 20px 0;
}

.my-ad-item-info li {
    font-size: 25px;
    margin: 0 0 18px 0;
    font-family: 'raleway-light';
    font-weight: bold;
}

.my-ad-item-info-price  {
    font-weight: bold;
    font-size: 25px;
    margin: 0 0 18px 0;
    font-family: 'raleway-medium';
}


.my-ad-empty {
    text-align: center;
}

#my-ad-collection .form-area-button {
    margin: 33px 0 44px 0;
}
