#purpose {
    background-image: url(/_img/purpose/purpose-bg-1370x800.png);
    margin:0;
}

#purpose article {
    height: 476px;
    background-image: url(/_img/purpose/n.png);

}

    #purpose article div.text {
        width: 70%;
        float: left;
    }

#purpose.page {
    border:0;
}