#search {
    background: none;
}

    #search article {
        padding: 20px 40px;
    }


.search-result-column {
    width: 264px;
    float: left;
    margin: 0 60px 0 0;
}

    .search-result-column:last-child {
        margin: 0;
    }


/* ad */

@media only screen and (min-width: 800px) {
}
