body {
    background-color: #e7e5e2;
}

main {
    overflow: hidden;
    max-width: 1370px;
    margin: 0 auto;
}

#pages {
    overflow: hidden;
}

.page {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: initial;
    margin: 120px 0;
}

.page-title {
    font-size: 30px;
    text-align:left;
    color: #000;
    margin: 0 0 20px 0;
    text-transform:capitalize;
}

.page-bottom-color {
    border-bottom: 12px solid #ff6a00;
}

.page article {
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    position: relative;
    padding: 20px;
    margin: 0 auto;
    min-height: 650px;
    background-repeat: no-repeat;
    background-position: 0 0;
}


    .page article div.text {
        float: left;
    }

        .page article div.text p {
            padding-left: 90px;
        }

    .page article img.person {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

.page-separator {
    width: 100%;
    display: block;
    margin: 0 auto 50px auto;
    background-image: url(/_img/common/page-separator.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 34px;
}


article p.shape-bg {
    background-image: url(/_img/common/shape-bg.png);
    background-repeat: no-repeat;
    background-position: 0 5px;
    background-size: initial;
}

#parallax-pages .page {
    background-position-x: 50%;
    background-position-y: 0;
    background-attachment: fixed;
    background-size: cover;
}


.legal-page article {
    text-align: justify;
}

    .legal-page article h2 {
        font-size: 20px;
        margin: 20px 0 0 0;
    }

    .legal-page article h3 {
        font-size: 18px;
        margin: 18px 0 10px 0;
    }

.legal-page .box {
    width: 100%;
}
