@model BaseViewModel<List<CardSearchDTO>>
@using adduo.restoudaobra.web.helper
@using adduo.restoudaobra.web.model
@using adduo.restoudaobra.dto
@using adduo.restoudaobra.constants

@{
    Layout = "~/Views/Shared/_Masterpage.cshtml";
}

@section script {


    <environment include="Development">
        <script src="/jquery/jquery-3.3.1.min.js"></script>
        <script src="/jquery/vendor/fotorama/fotorama.js" "></script>
        <script src="/jquery/jquery-app.js"></script>
    </environment>

    <environment include="Production">
        <script src="/assets/js/jquery-app.js"></script>
    </environment>

}


<section class="ad-list">
    <div class="break-point line">
        @foreach (var card in Model.Value)
        {
            <partial name="HomeCard" model="card" />
        }
    </div>
</section>