@model BaseViewModel<CardDetailDTO>
@using adduo.restoudaobra.web.helper
@using adduo.restoudaobra.web.model
@using adduo.restoudaobra.dto
@using adduo.restoudaobra.constants
@{
    Layout = "~/Views/Shared/_Masterpage.cshtml";

    var card = Model.Value;

    /* cria um objeto para evitar ficar fazendo IFs pelo type */

    var type = AdTypeHelper.Get(card);
}
@section titlePrefix { @string.Concat(card.Ad.Name, " - ", card.Ad.Brand, " - ", type.Name, " - ")  }
@section meta
    {
    <partial name="AdMetaTag" model="Model" />
}
@section richcards
    {
    <partial name="AdRichCard" model="card" />
}

@section script {
    <script src="/assets/js/menu.js"></script>
}


<!-- partial name="AdCarousel" model="card" / -->

<div class="break-point sc">
    <section class="one ads">
        <span class="close">Close</span>
        <span class="@(type.ProductTypeClass)-header">Donation</span>

        <partial name="AdGallery" model="card" />
        <partial name="AdDetailInfo" model="card" />
        <partial name="AdDetailOwner" model="card" />

    </section>
</div>
