@model BaseViewModel<CardDetailDTO>

@using adduo.restoudaobra.web.helper
@using adduo.restoudaobra.web.model
@using adduo.restoudaobra.dto
@using adduo.restoudaobra.constants

@{
    Layout = "~/Views/Shared/_MasterpageSEO.cshtml";

    var card = Model.Value;

    /* cria um objeto para evitar ficar fazendo IFs pelo type */

    var type = AdTypeHelper.Get(card);
}

@section titlePrefix { @string.Concat(card.Ad.Name, " - ", card.Ad.Brand, " - ", type.Name, " - ")  }

@section meta
    {
    <partial name="AdMetaTag" model="Model" />
}

@section richcards
    {
    <partial name="AdRichCard" model="card" />
}


    <section id="ad-detail" class="page" ng-controller="AdDetailController" ng-init="init([@(string.Join(',',  card.Images.Select(s => $"'{s}'")))])">

        <div id="box-ad-detail"
             class="box product-type @(type.ProductTypeClass)">

            <h4 class="product-type-style product-type-style-4"></h4>

            <partial name="AdGallery" model="card" />

            <partial name="AdDetailInfo" model="card" />

        </div>

        <partial name="AdCarousel" model="card" />

    </section>