<header id="menu-principal">

    <div>
        <a href="/" id="header-logo" scroll-action action="{{action}}" limit="{{limit}}" title="Pagina inicial - Restou da Obra"></a>
        <div id="area-nav">
            <nav>
                <a ng-show="authenticated" title="Olá {{name}}" id="owner-name">Olá {{name}} :)</a>
                <a href="/quero-doar" title="Quero doar">QUERO DOAR</a>
                <a href="/quero-vender"  title="Quero vender">QUERO VENDER</a>
                <a href="/meus-anuncios"  title="Meus anúncios" ng-show="authenticated">MEUS ANÚNCIOS</a>
                <a href="/contato" title="Contato">CONTATO</a>
                <a href="/meus-dados" ng-show="authenticated" title="Meus dados">MEUS DADOS</a>
                <a ng-show="authenticated" ng-click="logout()" title="Sair" class="last">SAIR</a>
                <a href="/identificacao" ng-hide="authenticated" title="Entrar" class="last">ENTRAR</a>
            </nav>
        </div>

    </div>

</header>