<div id="ad-image">

    <div id="ad-image-dragdrop"
         ng-class="statusClass(dto.images)"
         ngf-drop="uploads($files)"
         ngf-pattern="'image/*'"
         ngf-drag-over-class="'dragover'"
         multiple="multiple">

        <ul>
            <li ng-repeat="img in dto.images.list track by $index"
                ng-class="{'hand' : !checkHasImage($index)}"
                ngf-select="uploads($files)" multiple="multiple"
                ngf-select-disabled="checkHasImage($index)"
                ng-style="{'background-image':'url('+ dto.images.list[$index].full+')'}">

                <div ng-class="{
                                     'ad-image-loader' : loaderImage($index),
                                     'ad-image-delete' : checkHasImage($index),
                                     'ad-image-arrow' : controlFirstElement($index) }">
                    <span ng-show="controlFirstElement($index)">INSERIR FOTO</span>
                    <img src="/_img/_icon/icon-close-1.png" ng-click="delete($index)" ng-show="checkHasImage($index)" />
                </div>
            </li>
        </ul>

        <!-- class="ad-image-arrow"  -->
    </div>

    <div id="ad-image-legend">
        <span ng-hide="checkImageLimit()">Você pode inserir até 6 fotos</span>
        <span ng-show="checkImageLimit()">Quantidade de fotos suficiente</span>
    </div>


</div>
