@model BaseViewModel<List<CardSearchDTO>>

@using adduo.restoudaobra.website.model
@using adduo.restoudaobra.dto

@{
    Layout = "~/Views/Shared/_MasterpageSEO.cshtml";

    var index = 0;

    Func<int> indexFactory = () =>
    {
        if ((++index).Equals(3))
        {
            index = 0;
        }

        return index;
    };

    var cardColumns = Model.Value.Select((ad, i) => new CardViewModel(ad, indexFactory()))
            .GroupBy(key => key.Index)
            .ToDictionary(k => k.Key, v => v.ToList());
}



@section titleSufix { - Construa consciente, compartilhe }

@section meta
    {
    <meta property="og:locale" content="pt-BR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Restou da Obra" />
    <meta property="og:url" content="http://www.restoudaobra.com.br" />
    <meta property="og:site_name" content="Restou da Obra" />
    <meta property="og:image" content="http://www.restoudaobra.com.br/_img/logo/restou-da-obra-logo-1.png" />
    <meta name="description" content="Acreditamos que ajudar é o melhor caminho para construir o bem. Acreditamos no relacionamento entre pessoas, na ajuda mútua e que compartilhar coisas faz um bem danado pra gente!" />
}

@section richcards
    {
    <partial name="HomeRichCard" />
}

<section id="home" class="page page-bottom-color">
    <article>
        <div id="home-content">
            <img id="home-logo" src="/_img/logo/restou-da-obra-logo-1.png" title="Restou da Obra - Construa consciente, compartilhe" alt="Restou da Obra - Construa consciente, compartilhe" />
            <p>Acreditamos que ajudar é o melhor caminho para construir o bem.Acreditamos no relacionamento entre pessoas, na ajuda mútua e que compartilhar coisas faz um bem danado pra gente! <span>:)</span></p>
        </div>
    </article>
</section>

<section id="search" class="page">

    <article>

        @foreach (var cards in cardColumns.Values)
        {
            <div class="search-result-column">
                @foreach (var item in cards)
                {
                    <partial name="HomeCard" model="item.Card" />
                }
            </div>
        }

    </article>
</section>

<div class="page-separator"></div>

<section id="purpose" class="page">
    <article>
        <h2 class="page-title">Nosso Propósito</h2>
        <div class="text">
            <p class="shape-bg">Em algum momento, todos passamos por uma obra ou reforma. </p>
            <p>Seja grande ou pequena, sempre sobram revestimentos, tinta, fios e <br />tantos outros itens que não terão mais utilidade.</p>
            <br />
            <p>
                E foi passando por isso que muitos questionamentos <br />surgiram:
                <b>O que fazemos com isso? Será que <br />alguém se interessa? Onde está essa pessoa? <br />E se doarmos?</b>
            </p>
            <p>Com o objetivo de dar um fim útil às sobras de<br /> materiais, surgiu o <b>Restou da Obra</b>. Aqui você<br /> faz seu anúncio de venda ou doação e repassa <br />o que não tem mais serventia a outras obras<br /> e reformas Brasil afora.!</p>
            <p><b>Junte-se a nós!</b></p>
        </div>
    </article>
</section>

